<div class="modal" ng-controller="KisBpmAssignmentPopupGroupsCtrl">
    <div class="modal-dialog" style="width: 80%;" ng-init="groupsTable()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                        <div style="float:left;margin-right:5px;">
                            <input name="description" placeholder='组名' type="text" style="float:left;width:150px;margin-right:5px;" ng-model="description" class="form-control">
                        </div>            
                        <div class="btn-group">
                            <button id="btn_search" ng-click="customSearch()" type="button" class="btn btn-primary btn-space">
                                <span class="fa fa-search" aria-hidden="true" class="btn-icon-space"></span>
                                搜索
                            </button>
                        </div>
                    </div>
                    <table id="table" data-toggle="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>部门ID</th>
                                <th>部门名称</th>
                                <th>用户ID</th>
                                <th>用户名称</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="sever()" class="btn" type="button">保存</button>
                <button ng-click="cancel()" class="btn" type="button">取消</button>
            </div>
        </div>
    </div>
</div>